@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    width: 100%;
    position: relative;
    display: flex;
  }

  #menu {
    background-color: #009579;
    width: 300px;
    height: 100vh;
  }

 #menu .logo {
  display: flex;
  align-items: center;
  padding: 30px 0 0 30px;
 } 

 #menu .logo img{
  width: 50px;
  margin-right: 13px;
 }
 #menu .logo .logo-name {
  display: flex;
  flex-direction: column;
 }
 .logo-name .logo-desc{
  font-weight: 600;
 }
 .logo-name .logo-desc-sub {
  font-weight: 400;
 }
 #menu .items{
  margin-top: 40px;
 }
#menu .items li {
  list-style: none;
  padding: 10px 0;
  transition: 0.3s ease;
}

#menu .items-below{
  margin-top: 100%;
}

#menu .items li i {
  color: rgb(69, 77, 77);
  width: 30px;
  height: 30px;
  margin: 0 10px 0 25px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
#menu .items li a {
  color: rgb(69, 77, 77);
  text-decoration: none;
  font-weight: 300px;
  transition: 0.3s ease;
}

#menu .items li:hover {
  background-color: rgb(211, 202, 202);
  cursor: pointer;
}
#menu .items li:nth-child(1) {
  border-left: #fff 4px solid;
}
#menu .items li i,
#menu .items li a {
  color: #f3f4f6;
}

#navbar {
   width: calc(100% - 300px);
}

#navbar .navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 30px;
  border-bottom: 3px  solid #009579;
}
#navbar .content h3 {
  margin-top: 15px;
}
#navbar .card {
  width: 200px;
  border: 1px #009579 solid;
  padding: 20px;
  border-radius: 20px;
  background-color: aqua;
  margin-left: 15px;
}
.box {
  display: flex;
  justify-content: end;
}